<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge" />
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="baidu-site-verification" content="8uMygcLACp" />
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<meta name="keywords" content="生活兴趣，活动直播，直播软件，活动直播软件，全民直播，全民活动软件" />
		<meta name="description" content="生活直播，生活兴趣，直播软件，活动直播软件，全民直播，全民活动软件,直播app">
		<title>映兔—专注于生活兴趣的活动软件</title>
		<link rel="shortcut icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAALGPC/xhBQAAAhBJREFUOBFtUz1vE0EQnZm9i8LhO0SKIArTQ0EoEAiUUEBEgSgIBU0KEAW/w3+AKg01hIoiBQUVLuyIHoWvPxE+jEwE4W55b9Z3uPDq9nbu7b43b2ZtFYzvt7duxiYOosqaRKmILRpqImo6UYnvTXVQvtkbKslNE98uInSYgqiKGRGk2KAiQTYzZu4OLgjAm5Eis/sJOoEQJQbmtueIS9euSPF4W+zMKjImcji7KicebUt+9TJEEuZOzNay+Zq115PiyUO3a1Upv3aeefblB/clv3RR4vp1mX75LDKdurhqU1GvG1oUoku5SJ6JVqmXXjvjACzPxU7iDPuAcjizjs2AclmC7FxftFimUwn9vot64ewDzrXldQKtaidw+pT0dp5SVrQsEyPiFpzM7L6VHPj9UqH+i0wogQOHbWXFV//mPjCtm+QUoJfgmemTd/z1UOLvP6Ko070D8pUKIMejI5Fvh461PPPsbAgQKh6PRqle9gLN9JIYY9b741n3ocFeICkEmJ4/EqYROX6+K/XBh/Qx964/fZT65W7K7glRCdfJna0fsFnREu0S5MhurItdOO9xg7uP7/bdJbPSLdcQbKI/794bAdlw/swNhegsYSmmy/84HfOQjg2vQVJEMqqTyMn9wDM0McPx4Tj28cQArpWv94YhxFtmNgY4SVfaEimKBxttn1DiBH/lsapt6otXw38hQHn73FNyQAAAAABJRU5ErkJggg==" />
		<!--<link rel="stylesheet" href="css/index.css" />-->
		<script>
			//rem适配方案
			(function(minWidth, screenWidth, maxWidth) {
				'use strict';

				function screen() {
					var Ehtml = document.getElementsByTagName('html')[0];
					var documentWidth = document.documentElement.getBoundingClientRect().width;
					if(documentWidth >= maxWidth) {
						documentWidth = maxWidth;
					}
					if(documentWidth <= minWidth) {
						documentWidth = minWidth;
					}
					Ehtml.style.fontSize = 100 * documentWidth / screenWidth + 'px';
				}
				screen();
				window.onresize = screen;
			})(320, 750, 768)
		</script>
	</head>

	<body>
		<div class="warpper">
			<!--header-->
			<header>
				<div class="phone_left" id="phone_left"></div>
				<div class="phone_right" id="phone_right"></div>
				<div class="sloga-text">
					<h1>来映兔直播<br />做生活的演奏家</h1>
					<p>映兔是一个强调开放和信任、追求效率和极致的创业团队。在这里，有吃不完的零食饮料和玩不完的团队建设在这里，我们享受技术与设计的相爱相杀。</p>
					<a href="#">下载客户端</a>
				</div>
			</header>
			<!--header end-->

			<!--case -->
			<section class="link_group">
				<div class="link_card">
					<a href="#">
						<img src="../img/example01.png" />
					</a>
				</div>
				<div class="link_card">
					<a href="#">
						<img src="../img/example02.png" />
					</a>
				</div>

				<div class="link_card">
					<a href="#">
						<img src="../img/example03.png" />
					</a>
				</div>

				<div class="link_card">
					<a href="#">
						<img src="../img/example04.png" />
					</a>
				</div>
			</section>
			<!--case end-->

			<!--introduction -->
			<section class="intr_card">
				<img src="../img/team_bg.jpg" />
				<div class="introduction">
					<h2 class="title_line">看看是谁<br />创造了映小兔</h2>
					<p class="intro_text">映兔是一个强调开放和信任、追求效率和极致的创业团队。在这里，有吃不完的零食饮料和玩不完的团队建设；在这里，我们享受技术与设计的相爱相杀，上一秒产品开发撕 B大战，下一秒挡拆配合打爆全场；当然，在这里还有一份充满竞争力的薪资以及让你实现梦想的股权激励计划。</p>
					<p class="lgbt">LGBT-Friendly</p>
				</div>
			</section>
			<!--introduction -->

			<!--photo -->
			<section class="photo_group">
				<div class="img_card">
					<img src="../img/team01.png" alt="映兔团队照片" />
				</div>
				<div class="img_card">
					<img src="../img/team02.png" alt="映兔团队照片" />
				</div>
				<div class="img_card">
					<img src="../img/team03.png" alt="映兔团队照片" />
				</div>
				<div class="img_card">
					<a href="http://ingtube.lofter.com/">
						<img src="../img/team_more.png" alt="更多团队照片" />
					</a>

				</div>
			</section>
			<!--photo -->

			<!--tab-->
			<div class="tab_warp">
				<ul class="tab_title">
					<li class="active_title" data="1">技术</li>
					<li data="2">产品设计</li>
					<li data="3">运营</li>
				</ul>
				<div class="tab_content active_content">
					<p>1我们不是普通意义的技术团队<br /> 我们以 Google 的技术标准要求自己，鼓励使用新技术、鼓励重新造轮子、鼓励全栈。<br /> 我们实行 OKR 制度，强调自我驱动和扁平管理。<br /> 我们的工作领域：
						<br /> · 机器学习：深度学习在图像、语音、NLP上的应用VR/AR 技术<br /> · 后端技术：包括微服务、kubernetes、DevOps、CI/CD、搜索推荐、即时通讯、数据监控和报警<br /> · 前端技术：iOS、Android、H5 的新技术<br /> · 音视频技术：编解码、传输和直播技术<br /> 搜索 “映兔技术团队” 关注我们的微信公众号。</p>
				</div>

				<div class="tab_content">
					<p>2我们不是普通意义的技术团队<br /> 我们以 Google 的技术标准要求自己，鼓励使用新技术、鼓励重新造轮子、鼓励全栈。<br /> 我们实行 OKR 制度，强调自我驱动和扁平管理。<br /> 我们的工作领域：
						<br /> · 机器学习：深度学习在图像、语音、NLP上的应用VR/AR 技术<br /> · 后端技术：包括微服务、kubernetes、DevOps、CI/CD、搜索推荐、即时通讯、数据监控和报警<br /> · 前端技术：iOS、Android、H5 的新技术<br /> · 音视频技术：编解码、传输和直播技术<br /> 搜索 “映兔技术团队” 关注我们的微信公众号。</p>
				</div>

				<div class="tab_content">
					<p>3我们不是普通意义的技术团队<br /> 我们以 Google 的技术标准要求自己，鼓励使用新技术、鼓励重新造轮子、鼓励全栈。<br /> 我们实行 OKR 制度，强调自我驱动和扁平管理。<br /> 我们的工作领域：
						<br /> · 机器学习：深度学习在图像、语音、NLP上的应用VR/AR 技术<br /> · 后端技术：包括微服务、kubernetes、DevOps、CI/CD、搜索推荐、即时通讯、数据监控和报警<br /> · 前端技术：iOS、Android、H5 的新技术<br /> · 音视频技术：编解码、传输和直播技术<br /> 搜索 “映兔技术团队” 关注我们的微信公众号。</p>
				</div>
				<a href="job.html" class="position_more">查看职位</a>
			</div>
			<!--tab end-->

			<!--contact-->
			<section class="contact_card">
				<img src="../img/contact_bg.jpg" />
				<div class="contact">
					<h2 class="title_line">咖啡供应<br />欢迎来映兔坐坐</h2>
					<p class="contact_mess">杭州市西湖区崇义路郡原公元里13幢3楼<br /> 0571-83489234 <br /> business@ingtube.com <br /> support@ingtube.com</p>
				</div>
			</section>
			<!--contact end-->

			<!--bottom-->
			<div class="bottom_card">
				<div class="copyright">
					<p>© 2016 映兔科技. All rights reserved <br /> 杭ICP备08104990号 </p>
				</div>
				<div class="we_link">
					<p>
						<a href="#">WeChat</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;&nbsp;
						<a href="#">Weibo</a>&nbsp;&nbsp;&gt;</p>
				</div>
			</div>
			<!--bottom end-->
		</div>
	</body>

</html>